.body{
background: rgba(212, 6, 144, 0.29);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(167, 45, 45, 0.1);
backdrop-filter: blur(0.7px);
-webkit-backdrop-filter: blur(0.7px);
border: 1px solid rgba(73, 175, 207, 0.18);
}

.head{
    background-color: black;
    color: white;
    text-align:center;
}
.container{
 display:flex;
 flex-wrap: wrap; 
}

p{
    background-color: rgb(170, 120, 219);
}

